block globals 

doctype html
html(lang="en")
    head
        title=(title ? title : "I do not have a title yet, make sure that I have a title man!")
 
    body
        include ../partials/nav.pug
        block content