extends ../layouts/main.pug

block globals
    - const title = "About Page Ha"

block content
    h1#header TYou are in the about Page

    p.entrance-text(data-attr="example") You wanna know someting about me?