extends ../layouts/main.pug

block globals
    - const title = "Contact ME!"

block content
    h1#header Do favor for yourself, write me!

    p.entrance-text(data-attr="example") Example Contact Info